<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <div style="display: flex; justify-content: space-between; margin:2rem">
        <a href="{% url 'merchant:index'%}">Back</a>
        <a href="{% url 'merchant:delete' item.id%}">Delete</a>
        <a href="{% url 'merchant:update' item.id%}">Edit</a>
    </div>

    <img src="{{item.item_image.url}}" alt="" style="height: 500px ">
    <h1>Item Name: <span style="color:green; font-size: 150%;">{{item.item_name}}</span></h1>
    <h3>Created On: <span style="color:green; font-size: 150%;">{{item.entry_dateTime}}</span></h3>
    <h3>Item Price: <span style="color:green; font-size: 150%;">Rs. {{item.item_price}}</span></h3>
    <h3>Item Type: <span style="color:green; font-size: 150%;">{{item.item_type}}</span></h3>
    <h3>Can the Customer see this item ? <span style="color:green; font-size: 150%;">{{item.item_can_be_seen}}</span></h3>
    <h3>Profit Percentage on this item: <span style="color:green; font-size: 150%;">{{item.item_profit_percentage}} %</span></h3>
    
</body>    

</html>